
.back1 {
    background-color:#ffffff;
	color:#0722F4;
	font-size:12px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.back2
{
	margin-left: auto;
	margin-right:auto;
	max-width:900px;
background-color:#33CC33;
	font-size:18px;
	color:#000000;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align:center;
}


h1 {
    color: red;
    text-align: center;
	font
}


h2{ color: red;}

h3{ color: #FF0000;}

.hidden {
        display: none;
}

   .visible {
        display: block;
   }


.activity
{
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	font-weight:bold;


}